.layoutLoader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: var(--text-color-body-2);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity ease-in-out 0.3s, 0.3s visibility ease-in-out 0s;
  &.close {
    visibility: hidden;
    opacity: 0;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: var(--webkit-scrollbar-thumb-background-color-hover);
    animation: loader-pages-svg 2s linear infinite;
  }
}
@keyframes loader-pages-svg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
