.about-page-left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  &-particles-container {
    padding: 35px;
    height: 100%;
  }
  @media screen and (max-width: 1000px) {
    width: 100%;
    &-particles-container {
      height: 600px;
    }
  }
}