.about-page-bottom {
  width: calc(100% - 200px);
  padding: 0px 100px 0px 100px;

  margin-top: 75px;
  display: flex;
  justify-content: space-between;

  position: relative;
  flex-wrap: wrap;

  &-title {
    position: absolute;
    top: -85px;
    right: 15%;
    font-size: 2rem;
    flex-direction: column;
    @include flex-center();
    cursor: default;
    svg {
      fill: var(--text-color-body);
      width: 30px;
      height: 30px;
    }
  }
  @media screen and (max-width: 1320px) {
    margin-top: 120px;

    &-card {
      width: 50%;
      justify-content: center;
      &:last-child {
        width: 100%;
      }
    }
    &-title {
      top: -75px;
      right: 0%;
      width: 100%;
    }
  }

  @media screen and (max-width: 990px) {
    &-card {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    width: calc(100% - 50px);
    padding: 0px 25px 0px 25px;
    &-card {
      width: 100%;
    }
  }
}
