.about-page-right-side {
  width: 50%;
  p {
    font-size: 1.8rem;
    margin-top: 10px;
    padding-right: 30px;
    span {
      color: var(--text-selection);
    }
  }
  @media screen and (max-width: 1000px){
    width: 100%;
    padding-top: 10px;
    p {
      margin-top: 0px;
      padding-right: 30px;
      padding-left: 30px;
    } 
  }
}