.about-page-bottom-card {
  width: 33.33%;
  margin-bottom: 50px;
  @include flex-center($justify: flex-start);
  &-container {
    background-color: transparent;
    position: relative;
    padding: 30px;
    width: 300px;
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &::before {
      z-index: -1;
      background-color: var(--color-icons-layout);
      filter: blur(2px);
    }
    &::after {
      z-index: -2;
      background-color: transparent;
      border: 1px solid var(--text-selection);
      transform: translateY(20px) translateX(20px);
    }
    div {
      &:nth-child(1) {
        font-size: 1.3rem;
        font-weight: bold;
      }
      &:last-child {
        font-size: 1.1rem;
        margin-top: 20px;
      }
    }
    @media screen and (max-width: 450px) {
      width: 100%;
      &::after {
        transform: translateY(5px) translateX(5px);
      }
    }
  }
}
