.card-about-page-container-animation {
  position: absolute;
  z-index: 0;
  top: -150px;
  left: 0;
  height: 100%;
  width: 100%;
  p {
    color: #ccc;
    height: 150px;
    font-size: 1.5rem;
    margin: 0;
    padding: 15px;
    padding-top: 22.5px;
  }
  &-black-wall {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    font-weight: bold;
    &.open {
      opacity: 0.4;
      visibility: visible;
    }
  }
}
