.about-page-right-side-card-container {
  @include flex-center($justify: flex-start);
  width: 100%;
  @media screen and (max-width: 1000px) {
    @include flex-center();
    flex-direction: column;
  }
}
.card-about-page-container {
  width: 100%;
  margin-top: 30px;
  @include flex-center($justify: flex-start);
  &-inner {
    height: 150px;
    border-radius: 10px;
    background-color: var(--simulating-background-cards-about-page);
    @include flex-center($align: flex-start);
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    &-sentence {
      &-1,
      &-2,
      &-3 {
        border-radius: 5px;
        background-color: var(--simulating-text-cards-about-page);
        margin-left: 5%;
        height: 20px;
        margin-bottom: 20px;

      }
      &-1 {
        width: 50%;
      }
      &-2 {
        width: 80%;
      }
      &-3 {
        margin-bottom: 0px;
        width: 30%;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    @include flex-center();
    &-inner {
      width: calc(100% - 60px);
    }
  }
}
