.layout-division {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  z-index: 0;
  &-content {
    width: 100%;
    max-width: 1600px;
    margin-right: auto;
  }
}
.layout-container {
  z-index: -1000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  &-svg {
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
    svg {
      fill: var(--color-icons-layout);
      width: 450px;
      height: 450px;
    }
  }
  &-circle {
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: var(--color-icons-layout);
    border-radius: 50%;
    top: 100px;
    right: 50px;
    transition: width ease-in-out 0.3s, height ease-in-out 0.3s;
  }
  @media screen and (max-width: 600px) {
    &-svg {
      top: calc(50% - 40vw);
      left: calc(50% - 40vw);
      svg {
        width: 80vw;
        height: 80vw;
      }
    }
    &-circle {
      width: 80px;
      height: 80px;
    }
  }
}
.layout-msg {
  position: fixed;
  z-index: 99999;
  width: 90vw;
  top: 20px;
  left: calc(5vw - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px 20px 10px 20px;
  transition: opacity ease-in-out 0.3s, 0.3s visibility ease-in-out 0s;
  button {
    position: absolute;
    background: transparent;
    cursor: pointer;
    top: 5px;
    right: 5px;
    z-index: 1;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &-text {
    margin: 10px 0px 0px 0px;
    font-size: 0.9rem;
  }
  &.close {
    visibility: hidden;
    opacity: 0;
  }
  @media screen and (max-width: 960px) {
    width: 80vw;
    left: calc(10vw - 20px);
  }
}
.layout-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: var(--text-color-body-2);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity ease-in-out 0.3s, 0.3s visibility ease-in-out 0s;
  &.close {
    visibility: hidden;
    opacity: 0;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: var(--webkit-scrollbar-thumb-background-color-hover);
    animation: loader-pages-svg 2s linear infinite;
  }
}
@keyframes loader-pages-svg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
