// Utils
@import "./utils/mixins";
@import "./buttons/socialMediaButtons";
@import "./buttons/indexPageButtons";

// Layout
@import "./layout";
@import "./footer";
@import "./pages/headerPages";

// Pages
@import "./pages/IndexPage/indexIndexPage";
@import "./pages/AboutPage/indexAboutPage";
@import "./pages/WorkPage/indexWorkPage";

:root {
  --color-icons-layout: #202020;
  --border-works: rgb(42, 42, 42);
  --background-color-works: rgb(20, 20, 20);
  --background-color-body: #1d1d1d;
  --text-color-body: #fff;
  --text-color-body-2: #000;
  --text-selection: #43f7d5;
  --linear-gradient-darker: rgba(58, 54, 242, 1);

  --webkit-scrollbar-thumb-background-color: rgba(100, 100, 100, 1);
  --webkit-scrollbar-thumb-background-color-hover: rgba(80, 80, 80, 1);
  --webkit-scrollbar-thumb-background-color-active: rgba(60, 60, 60, 1);
}
::-webkit-scrollbar {
  width: 0.3em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--webkit-scrollbar-thumb-background-color);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--webkit-scrollbar-thumb-background-color-hover);
    }
    &:active {
      background-color: var(--webkit-scrollbar-thumb-background-color-active);
    }
  }
}
::-webkit-scrollbar-track-piece {
  background-color: var(--background-color-body);
}
::selection {
  background-color: var(--text-selection);
  color: var(--background-color-body);
}
html {
  min-height: 100%;
  width: 100vw;
  position: relative;
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color-body);
  width: 100vw;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 16px;
  font-family: sans-serif;
  color: var(--text-color-body);
  overflow-x: hidden;
}
input,
button {
  outline: none;
  border-style: none;
}
