.index-page-left-side {
  width: 50%;
  @include flex-center();
  &-div {
    &-letter,
    &-sentence {
      margin: 0;
      padding: 0;
      @include flex-center();
      cursor: default;
    }
  }
  &-container {
    padding-bottom: 120px;
    padding-right: 20px;
    transition: padding-left ease-in-out 0.3s;
  }
  h1 {
    font-size: 4.5rem;
    transition: font-size ease-in-out 0.3s;
    @include flex-center($justify: flex-start, $align: flex-start);
    flex-direction: column;
  }
  h2 {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 1300px) {
    &-container {
      padding-left: 50px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width: 1000px) {
    width: 100%;
    &-container {
      padding-left: 0px;
      padding-top: 0px;
      padding-bottom: 20px;
    }
  }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 3.5rem;
    }
    &-container {
      width: 90%;
    }
    &-buttons-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (max-width: 380px) {
    h1 {
      font-size: 2.75rem;
    }
  }
}