.index-page-button {
  cursor: pointer;
  color: var(--text-color-body);
  border-radius: 50px;
  padding: 15px 50px 15px 50px;
  position: relative;
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
  font-size: 1.2rem;
  width: 200px;
  &.blank,
  &.gradient {
    &::after {
      transition: opacity ease-in-out 0.5s;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background: rgb(67, 247, 213);
      background: linear-gradient(90deg, rgba(67, 247, 213, 1) 0%, rgba(58, 54, 242, 1) 100%);
    }
  }
  &.gradient {
    background-color: transparent;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--text-color-body);
        color: var(--text-color-body-2);
        &::after {
          opacity: 0;
        }
      }
    }
  }
  &.blank {
    background: var(--text-color-body);
    color: var(--text-color-body-2);
    margin-left: 20px;
    &::after {
      opacity: 0;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: transparent;
        color: var(--text-color-body);
        &::after {
          opacity: 1;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    width: 100%;
    &.blank {
      margin-left: 0px;
      margin-top: 20px;
    }
  }
}
