.social-media-button {
  display: grid;
  place-content: center;
  border: 1px solid var(--text-color-body);
  padding: 7.5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color ease-in-out .3s;
  svg {
    fill: var(--text-color-body);
    width: 25px;
    height: 25px;
    transition: fill ease-in-out .3s;
  }
  @media (hover:hover) and (pointer:fine){
    &:hover {
      background-color: var(--text-color-body);
      svg {
        fill: var(--background-color-body);
      }
    }
  }
}