.work-page-web-app {
  width: 500px;
  border: 2px solid var(--border-works);
  background-color: var(--background-color-works);
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color-body);
  text-decoration: none;
  position: relative;
  z-index: 0;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    z-index: 1;
    background-color: var(--text-color-body);
    opacity: .05;
    transition: width ease-in-out .15s, height ease-in-out .15s;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
  &-image {
    img {
      width: 100%;
      border-radius: 5px 5px 0px 0px;
    }
  }
  &-info {
    border-top: 2px solid var(--border-works);
    padding: 15px;
  }
  &-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0px 20px 0px;
  }
  &-text {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 550px) {
    width: 90%;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &::before,
      &::after {
        width: 100%;
        height: 100%;
      }
    }
  }
}
